<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>食物</key>
	<dict>
		<key>叉烧包</key>
		<string>汉堡包</string>
		<key>鸡腿</key>
		<string>鸡翅</string>
		<key>可乐</key>
		<string>雪碧</string>
		<key>盐</key>
		<string>糖</string>
		<key>咖啡</key>
		<string>牛奶</string>
		<key>香蕉</key>
		<string>香肠</string>
		<key>西瓜</key>
		<string>草莓</string>
		<key>饺子</key>
		<string>面条</string>
	</dict>
	<key>电子产品</key>
	<dict>
		<key>灯泡</key>
		<string>蜡烛</string>
		<key>风扇</key>
		<string>空调</string>
		<key>电视机</key>
		<string>收音机</string>
		<key>洗衣机</key>
		<string>电冰箱</string>
		<key>键盘</key>
		<string>鼠标</string>
		<key>显示器</key>
		<string>打印机</string>
		<key>手机</key>
		<string>耳机</string>
	</dict>
	<key>人物</key>
	<dict>
		<key>猪八戒</key>
		<string>唐三藏</string>
		<key>奥巴马</key>
		<string>奥尼尔</string>
		<key>表哥</key>
		<string>表弟</string>
		<key>老师</key>
		<string>妈妈</string>
		<key>刘德华</key>
		<string>张学友</string>
		<key>贝多芬</key>
		<string>莫扎特</string>
		<key>姚明</key>
		<string>林丹</string>
	</dict>
	<key>运动</key>
	<dict>
		<key>足球</key>
		<string>篮球</string>
		<key>羽毛球</key>
		<string>兵乓球</string>
		<key>跳水</key>
		<string>游泳</string>
		<key>爬山</key>
		<string>举重</string>
	</dict>
	<key>地方</key>
	<dict>
		<key>长江</key>
		<string>黄河</string>
		<key>北京</key>
		<string>上海</string>
		<key>深圳</key>
		<string>广州</string>
		<key>台湾</key>
		<string>澳门</string>
	</dict>
	<key>其他</key>
	<dict>
		<key>飞机</key>
		<string>气球</string>
		<key>坑爹</key>
		<string>给力</string>
		<key>沙发</key>
		<string>板凳</string>
		<key>戒指</key>
		<string>手表</string>
		<key>眼睛</key>
		<string>耳朵</string>
		<key>帽子</key>
		<string>围巾</string>
		<key>出租车</key>
		<string>公交车</string>
		<key>玫瑰</key>
		<string>菊花</string>
		<key>剪刀</key>
		<string>菜刀</string>
		<key>正方形</key>
		<string>三角形</string>
		<key>厕所</key>
		<string>饭堂</string>
	</dict>
</dict>
</plist>
